body {
    background: black;
    color: white;
}

.container {
    height: 100vh;
}

header, footer {
    height: 10vh;
    text-align: center;
}

footer {
    margin-top: 100px;
}

/* Tic-tac-toe Board */
main {
    height: 45vh;
}

.square {
    border: 1px white solid;
    font-size: 130px;
    text-align: center;
}

.grid-container {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    justify-content: center;
    align-content: center;
}

#warning-message {
    color: yellow;
}

.hide {
    display: none;
}