body {
    background: black;
    color: white;
    font-family: 'Amatic SC', cursive;}

.container {
    height: 100vh;
}

header, footer {
    height: 15vh;
    text-align: center;
    font-size: 30px;
}

footer {
    font-size: 30px;
}

/* Tic-tac-toe Board */
main {
    height: 50vh;
    display: flex;
    align-content: center;
}

.square {
    border: 1px white solid;
    font-size: 110px;
    text-align: center;
}

.grid-container {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 140px);
    grid-template-rows: repeat(3, 140px);
    justify-content: center;
    align-content: center;
}

#warning-message {
    color: yellow;
}

.hide {
    display: none;
}

#reset {
    font-size: 20px;
}