body {
    background: black;
    color: white;
}

.container {
    height: 100vh;
}

header, footer {
    height: 10vh;
    text-align: center;
}

footer {
    margin-top: 100px;
}

/* Tic-tac-toe Board */
main {
    height: 60vh;
}

.square {
    border: 1px white solid;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    justify-content: center;
    align-content: center;
}
